<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Info App</title>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <ul class="navlinks">
                <li class="links">
                    <a href="/">Home</a>
                </li>
                <li class="links">
                    <a href="about.html">About</a>
                </li>
                <li class="links">
                    <a href="contact.html">Contact</a>
                </li>
                <li class="links">
                    <a href="faq.html">FAQs</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="title">
        <div class="welcomeFeature">
            <div class="preloader_sector">P</div>
            <div class="preloader_sector">Y</div>
            <div class="preloader_sector">T</div>
            <div class="preloader_sector">H</div>
            <div class="preloader_sector">O</div>
            <div class="preloader_sector">N</div>
            <div class="preloader_sector">-</div>
            <div class="preloader_sector">-</div>
            <div class="preloader_sector">-</div>
            <div class="preloader_sector">-</div>
            <div class="preloader_sector">-</div>
            <div class="preloader_sector">-</div>
            <div class="preloader_sector">-</div>
            <div class="preloader_sector">-</div>
            <div class="preloader_sector">D</div>
            <div class="preloader_sector">J</div>
            <div class="preloader_sector">A</div>
            <div class="preloader_sector">N</div>
            <div class="preloader_sector">G</div>
            <div class="preloader_sector">O</div>
            <div class="preloader_sector">-</div>
            <div class="preloader_sector">-</div>
            <div class="preloader_sector">-</div>
            <div class="preloader_sector">-</div>
            <div class="preloader_sector">-</div>
            <div class="preloader_sector">-</div>
            <div class="preloader_sector">-</div>
            <div class="preloader_sector">-</div>
            <div class="preloader_sector">-</div>
            <div class="preloader_sector">-</div>
        </div>
    </div>
    <section class="main">
        <h1>Python and Django</h1>
        <h3>-Web Development-</h3>
        <p>Have you ever wanted to learn
            how to code? Now you can! With
            this beginners guide to web development
            in Python, you will be learning the basics 
            of python including but not limited to, 
            data types, conditional statments, control flow, logical operators, string
            methods and much more. You will also learn 
            about Django. Django is a web development and rest api
            framework for Python. We will go over how
            to install the lastest version of Python and 
            Django, How to set up and activate a virtual environment,
            the django-admin commands to start your first 
            Python and Django project and how to start a localhost server.
            Have you ever wanted to learn
            how to code? Now you can! With
            this beginners guide to web development
            in Python, you will be learning the basics 
            of python including but not limited to, 
            data types, conditional statments, control flow, logical operators, string
            methods and much more. You will also learn 
            about Django. Django is a web development and rest api
            framework for Python. We will go over how
            to install the lastest version of Python and 
            Django, How to set up and activate a virtual environment,
            the django-admin commands to start your first 
            Python and Django project and how to start a localhost server.
        </p>
    </section>  
</body>
</html>